<mat-sidenav-container class="example-container w-full">
    <mat-sidenav-content>
        <div class="flex flex-col flex-auto w-full">
            <div class="w-full max-w-screen-xl mx-auto p-5">
                <table class="w-full" mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="businessName">
                        <th mat-header-cell *matHeaderCellDef>Business Name</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.business.businessName }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="businessPhone">
                        <th mat-header-cell *matHeaderCellDef>
                            Business Phone
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.business.businessPhone }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="vehicleNumber">
                        <th mat-header-cell *matHeaderCellDef>
                            Vehicle Number
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.vehicle.vehicleNumber }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="vehicleColor">
                        <th mat-header-cell *matHeaderCellDef>Vehicle Color</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.vehicle.vehicleColor }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="vehiclePermit">
                        <th mat-header-cell *matHeaderCellDef>
                            Vehicle Permit
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.vehicle.vehiclePermit }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="vehicleType">
                        <th mat-header-cell *matHeaderCellDef>Vehicle Type</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.vehicle.vehicleType }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="pickUpLocation">
                        <th mat-header-cell *matHeaderCellDef>
                            PickUp Location
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.pickUpLocation }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="dropLocation">
                        <th mat-header-cell *matHeaderCellDef>Drop Location</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.dropLocation }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef class="w-10"></th>
                        <td mat-cell *matCellDef="let element">
                            <button
                                (click)="viewDetails(element)"
                                class="items-center bg-primary-50 text-primary-700 dark:bg-primary dark:text-on-primary rounded-full"
                            >
                                View Details
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: visibleColumns"
                    ></tr>
                </table>

                <mat-paginator
                    [pageSizeOptions]="[5, 10, 20, 30]"
                    [pageSize]="pageSize"
                    [length]="totalResults"
                    (page)="getDeliveriesData()"
                >
                </mat-paginator>
            </div>
        </div>
    </mat-sidenav-content>
    <mat-sidenav position="end" #sidenav class="sm:w-128">
        <div class="p-6">
            <div class="flex items-center justify-between absolute right-6">
                <button mat-icon-button (click)="sidenav.close()">
                    <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>

            <div class="flex flex-col">
                <div class="text-xl mt-3 font-bold truncate mb-3">
                    Business Details
                </div>
                <div class="leading-6 mb-1">
                    <span class="font-medium">{{
                        deliveryDetails && deliveryDetails.business.businessName
                            ? deliveryDetails.business.businessName
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-1">
                    <span class="font-medium">{{
                        deliveryDetails && deliveryDetails.business.businessName
                            ? deliveryDetails.business.businessPhone
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium">{{
                        deliveryDetails && deliveryDetails.business.businessName
                            ? deliveryDetails.business.businessType
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium">{{
                        deliveryDetails && deliveryDetails.business.businessName
                            ? deliveryDetails.business.businessAddress
                            : ""
                    }}</span>
                </div>
            </div>
            <div class="flex flex-col mt-4 pt-3 border-t">
                <div class="text-xl mt-3 font-bold truncate mb-3">
                    Delivery Details
                </div>
                <div class="leading-6 mb-1">
                    <div class="text-xg mt-2 font-bold truncate mb-1">
                        Pick Up Details
                    </div>
                    <span class="font-medium">{{
                        deliveryDetails && deliveryDetails.pickUpLocation
                            ? deliveryDetails.pickUpLocation
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-4">
                    <span class="font-medium">{{
                        deliveryDetails && deliveryDetails.pickUpDateTime
                            ? (deliveryDetails.pickUpDateTime | date: "medium")
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-1">
                    <div class="text-xg mt-2 font-bold truncate mb-1">
                        Drop Details
                    </div>
                    <span class="font-medium">{{
                        deliveryDetails && deliveryDetails.dropLocation
                            ? deliveryDetails.dropLocation
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium">{{
                        deliveryDetails && deliveryDetails.dropDateTime
                            ? (deliveryDetails.dropDateTime | date: "medium")
                            : ""
                    }}</span>
                </div>
            </div>
            <div class="flex flex-col mt-2 pt-3 border-t">
                <div class="text-xl mt-3 font-bold truncate mb-3">
                    Vehicle Details
                </div>
                <div class="leading-6 mb-1">
                    <span class="font-medium">{{
                        deliveryDetails && deliveryDetails.vehicle.vehicleId
                            ? deliveryDetails.vehicle.vehicleId
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-1">
                    <span class="font-medium">{{
                        deliveryDetails && deliveryDetails.vehicle.vehicleNumber
                            ? deliveryDetails.vehicle.vehicleNumber
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium">{{
                        deliveryDetails && deliveryDetails.vehicle.vehicleColor
                            ? deliveryDetails.vehicle.vehicleColor
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium">{{
                        deliveryDetails && deliveryDetails.vehicle.vehicleType
                            ? deliveryDetails.vehicle.vehicleType
                            : ""
                    }}</span>
                    <span class="font-medium">{{
                        deliveryDetails && deliveryDetails.vehicle.vehiclePermit
                            ? deliveryDetails.vehicle.vehiclePermit
                            : ""
                    }}</span>
                </div>
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>
