<mat-sidenav-container class="example-container w-full">
    <mat-sidenav-content>
        <div class="flex flex-col flex-auto w-full">
            <div class="w-full max-w-screen-xl mx-auto p-5">
                <div
                    class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none py-3 px-6 bg-card mb-5 shadow rounded"
                >
                    <div class="flex items-center">
                        <ng-select
                            class="fuse-mat-no-subscript w-full sm:w-80 fuse-mat-dense"
                            placeholder="Select Business"
                            (search)="onSearchBusiness($event)"
                            [(ngModel)]="selectedBusiness"
                            (change)="filterByBusiness()"
                        >
                            <ng-option
                                *ngFor="let business of businesses"
                                [value]="business._id"
                                >{{ business.businessName }}</ng-option
                            >
                        </ng-select>
                    </div>
                    <div class="flex flex-col items-center w-36">
                        <div
                            class="text-7xl font-bold tracking-tight leading-none text-blue-500"
                        >
                            {{ totalResults }}
                        </div>
                        <div
                            class="text-lg font-medium text-blue-600 dark:text-blue-500"
                        >
                            Total Results
                        </div>
                    </div>
                </div>
                <div class="bg-card mb-5 shadow rounded py-1">
                    <table class="w-full" mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="businessName">
                            <th mat-header-cell *matHeaderCellDef>
                                Business Name
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                                class="capitalize"
                            >
                                {{ element.business.businessName }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="productName">
                            <th mat-header-cell *matHeaderCellDef>
                                Product Name
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                                class="capitalize"
                            >
                                {{ element.materialId.name }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef>Quantity</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.quantity }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Action</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.action }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="viewDetails">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                class="w-10"
                            ></th>
                            <td mat-cell *matCellDef="let element" class="pl-5">
                                <button
                                    (click)="viewDetails(element)"
                                    class="items-center bg-primary-50 text-primary-700 dark:bg-primary dark:text-on-primary rounded-full"
                                >
                                    View Details
                                </button>
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="visibleColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: visibleColumns"
                        ></tr>
                    </table>
                    <div
                        class="bg-card text-center p-4 border-b"
                        *ngIf="noRecords && noRecords.length === 0"
                    >
                        No records found
                    </div>

                    <mat-paginator
                        [pageSizeOptions]="[5, 10, 20, 30]"
                        [pageSize]="pageSize"
                        [length]="totalResults"
                        (page)="getInventoryLogsList()"
                    >
                    </mat-paginator>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
    <mat-sidenav position="end" #sidenav class="sm:w-128">
        <div class="p-6">
            <div class="flex items-center justify-between absolute right-6">
                <button mat-icon-button (click)="sidenav.close()">
                    <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>

            <div class="flex flex-col">
                <div class="text-xl mt-3 font-bold truncate mb-3">
                    Business Details
                </div>

                <div class="leading-6 mb-2">
                    <span class="font-medium text-secondary">Name</span>
                    <span class="mx-2">:</span>
                    <span class="font-medium">{{
                        viewMoreDetails && viewMoreDetails.business.businessName
                            ? viewMoreDetails.business.businessName
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium text-secondary">ID Number</span>
                    <span class="mx-2">:</span>
                    <span class="font-medium">{{
                        viewMoreDetails &&
                        viewMoreDetails.business.businessIDNumber
                            ? viewMoreDetails.business.businessIDNumber
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium text-secondary">Phone</span>
                    <span class="mx-2">:</span>
                    <span class="font-medium">{{
                        viewMoreDetails && viewMoreDetails.business.businessName
                            ? viewMoreDetails.business.businessPhone
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium text-secondary">Type</span>
                    <span class="mx-2">:</span>
                    <span class="font-medium">{{
                        viewMoreDetails && viewMoreDetails.business.businessName
                            ? viewMoreDetails.business.businessType
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium text-secondary">Address</span>
                    <span class="mx-2">:</span>
                    <span class="font-medium">{{
                        viewMoreDetails && viewMoreDetails.business.businessName
                            ? viewMoreDetails.business.businessAddress
                            : ""
                    }}</span>
                </div>
            </div>
            <div class="flex flex-col mt-4 pt-3 border-t">
                <div class="text-xl mt-3 font-bold truncate mb-3">
                    Material Details
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium text-secondary">Name</span>
                    <span class="mx-2">:</span>
                    <span class="font-medium">{{
                        viewMoreDetails && viewMoreDetails.materialId.name
                            ? viewMoreDetails.materialId.name
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium text-secondary">Description</span>
                    <span class="mx-2">:</span>
                    <span class="font-medium">{{
                        viewMoreDetails &&
                        viewMoreDetails.materialId.description
                            ? viewMoreDetails.materialId.description
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium text-secondary">Quantity</span>
                    <span class="mx-2">:</span>
                    <span class="font-medium">{{
                        viewMoreDetails && viewMoreDetails.quantity
                            ? viewMoreDetails.quantity
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium text-secondary">SKU</span>
                    <span class="mx-2">:</span>
                    <span class="font-medium">{{
                        viewMoreDetails && viewMoreDetails.materialId.sku
                            ? viewMoreDetails.materialId.sku
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium text-secondary">Ingredients</span>
                    <span class="mx-2">:</span>
                    <span class="font-medium">{{
                        viewMoreDetails &&
                        viewMoreDetails.materialId.ingredients
                            ? viewMoreDetails.materialId.ingredients
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium text-secondary">Allergies</span>
                    <span class="mx-2">:</span>
                    <span class="font-medium">{{
                        viewMoreDetails && viewMoreDetails.materialId.allergies
                            ? viewMoreDetails.materialId.allergies
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium text-secondary">Dosage</span>
                    <span class="mx-2">:</span>
                    <span class="font-medium">{{
                        viewMoreDetails && viewMoreDetails.materialId.dosage
                            ? viewMoreDetails.materialId.dosage
                            : ""
                    }}</span>
                </div>
            </div>
            <div class="flex flex-col mt-4 pt-3 border-t">
                <div class="text-xl mt-3 font-bold truncate mb-3">
                    Delivery Details
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium text-secondary">Delivery Id</span>
                    <span class="mx-2">:</span>
                    <span class="font-medium">{{
                        viewMoreDetails && viewMoreDetails.deliveryId
                            ? viewMoreDetails.deliveryId
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium text-secondary"
                        >Delivery On Model</span
                    >
                    <span class="mx-2">:</span>
                    <span class="font-medium">{{
                        viewMoreDetails && viewMoreDetails.deliveryOnModel
                            ? viewMoreDetails.deliveryOnModel
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium text-secondary">On Model</span>
                    <span class="mx-2">:</span>
                    <span class="font-medium">{{
                        viewMoreDetails && viewMoreDetails.onModel
                            ? viewMoreDetails.onModel
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium text-secondary">Quantity</span>
                    <span class="mx-2">:</span>
                    <span class="font-medium">{{
                        viewMoreDetails && viewMoreDetails.quantity
                            ? viewMoreDetails.quantity
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium text-secondary"
                        >Date Of Delivaery</span
                    >
                    <span class="mx-2">:</span>
                    <span class="font-medium">{{
                        viewMoreDetails && viewMoreDetails.createdAt
                            ? (viewMoreDetails.createdAt | date: "medium")
                            : ""
                    }}</span>
                </div>
                <div class="leading-6 mb-2">
                    <span class="font-medium text-secondary">Action</span>
                    <span class="mx-2">:</span>
                    <span class="font-medium">{{
                        viewMoreDetails && viewMoreDetails.action
                            ? viewMoreDetails.action
                            : ""
                    }}</span>
                </div>
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>
