<div class="flex flex-col flex-auto w-full max-w-screen-xl mx-auto">
    <div class="max-w-3xl3 p-5">
        <div
            class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none py-3 px-6 bg-card shadow rounded border-b"
            style="min-height: 55px"
        >
            <div
                _ngcontent-dum-c251=""
                class="text-lg font-medium tracking-tight leading-6 truncate"
            >
                Add Item
            </div>
        </div>
        <div
            class="flex flex-col sm:flex-col w-full sm:max-w-none bg-card mb-5 shadow items-center"
        >
            <div class="p-18 w-full" style="min-height: 450px">
                <div class="chips">
                    <div
                        class="products-chips ion-padding"
                        *ngIf="
                            scannedProductIDs.length;
                            else noProductScannedMessage
                        "
                    >
                        <h2 class="text-3xl font-medium text-center mb-4">
                            <ion-text color="primary"
                                >Scanned Products</ion-text
                            >
                        </h2>
                        <div class="mb-6">
                            <mat-chip
                                *ngFor="
                                    let product of scannedProductIDs;
                                    let i = index
                                "
                            >
                                ({{ product.quantity }}){{
                                    product.product.name
                                }}
                                <!-- <button
                                matChipRemove
                                (click)="this.materials.splice(i, 1)"
                            >
                                <mat-icon>cancel</mat-icon>
                            </button> -->
                            </mat-chip>
                        </div>
                    </div>

                    <ng-template #noProductScannedMessage>
                        <h2 class="text-3xl font-medium text-center mb-8">
                            Scan Products to Add Inventory
                        </h2>
                    </ng-template>
                </div>

                <!-- <div class="text-3xl font-medium text-center mb-8">
                    Scan Products to Give Dosage
                </div> -->
                <button
                    (click)="showScanMenu()"
                    class="mat-tooltip-trigger qr_button rounded p-8 mb-5"
                >
                    <mat-icon
                        class="mat-icon"
                        [svgIcon]="'heroicons_solid:qrcode'"
                    ></mat-icon>

                    Click To Scan Product
                </button>
                <div class="flex flex-col items-center w-full">
                    <button
                        (click)="addItemToInventory()"
                        class="bg-primary scanner text-white rounded-full ml-4"
                    >
                        Add Inventory
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #scanQRCodeDialog>
    <div class="p-3" style="width: 22rem !important" *ngIf="!quantityDialog">
        <h2 matDialogTitle>Scan QR Code</h2>
        <form class="mb-3">
            <div class="flex flex-col">
                <mat-form-field class="flex-auto fuse-mat-dense">
                    <input
                        matInput
                        name="productId"
                        [(ngModel)]="productID"
                        [ngModelOptions]="{ standalone: true }"
                        placeholder="Enter Product ID"
                    />
                </mat-form-field>
            </div>

            <div class="flex flex-col">
                <button
                    (click)="presentScanAction()"
                    class="flex items-center justify-center rounded"
                    style="border: 1px dashed rgb(203 213 225); padding: 10px"
                >
                    <mat-icon
                        svgIcon="qr_code_scanner"
                        class="mat-icon notranslate icon-size-5 mr-3 mat-icon-no-color"
                    ></mat-icon>
                    Scan QR Code
                </button>
            </div>
        </form>
        <mat-dialog-actions>
            <button
                (click)="productDetails()"
                mat-button
                mat-raised-button
                color="primary"
                class="px-8"
            >
                Done
            </button>
            <button mat-button (click)="matClose()">Cancel</button>
        </mat-dialog-actions>
    </div>
    <div class="p-3" style="width: 22rem !important" *ngIf="quantityDialog">
        <h2 matDialogTitle>Enter Quantity</h2>

        <form class="">
            <div class="flex flex-col">
                <mat-form-field
                    [ngClass]="formFieldHelpers"
                    class="flex-auto fuse-mat-dense"
                >
                    <input
                        [(ngModel)]="quantity"
                        name="quantity"
                        type="number"
                        matInput
                        placeholder="Enter Quantity"
                    />
                </mat-form-field>
            </div>
        </form>
        <mat-dialog-actions>
            <button
                (click)="addMaterial()"
                mat-button
                mat-raised-button
                color="primary"
                class="px-8"
            >
                Done
            </button>
            <button mat-button (click)="matClose()">Cancel</button>
        </mat-dialog-actions>
    </div>
</ng-template>
