<div class="flex flex-col flex-auto w-full max-w-screen-xl mx-auto">
    <div class="max-w-3xl3 p-8">
        <div
            class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none py-3 px-6 bg-card shadow border-b m-0"
        >
            <div
                _ngcontent-dum-c251=""
                class="text-lg font-medium tracking-tight leading-6 truncate m-0"
            >
                QR Code Scanner
            </div>
        </div>
        <div
            class="flex flex-col sm:flex-col w-full max-w-xs sm:max-w-none bg-card mb-6 shadow"
        >
            <div class="p-8">
                <div class="flex-col m-0">
                    <div id="video-container">
                        <video id="vid" width="700"></video>
                    </div>
                    <select id="cam-list">
                        <option value="environment" selected>
                            Environment Facing (default)
                        </option>
                        <option value="user">User Facing</option>
                    </select>
                    <p class="m-0 mt-8 text-lg font-medium">
                        <b>Detected QR code: </b>
                        <span id="cam-qr-result">None</span>
                    </p>
                </div>
            </div>
        </div>

        <div
            *ngIf="plantDetails"
            class="flex flex-col sm:flex-col w-full max-w-xs sm:max-w-none bg-card mb-5 shadow"
        >
            <div class="p-8">
                <div class=" ">
                    <div class="flex flex-col">
                        <div class="text-xl mt-3 font-bold truncate mb-3">
                            Plant Details
                        </div>
                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary"
                                >Batch Number</span
                            >
                            <span class="mx-2">:</span>
                            <span class="font-medium">{{
                                plantResponse && plantResponse.batchNumber
                                    ? plantResponse.batchNumber
                                    : ""
                            }}</span>
                        </div>
                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary"
                                >Genetic Company</span
                            >
                            <span class="mx-2">:</span>
                            <span class="font-medium">{{
                                plantResponse && plantResponse.geneticCompany
                                    ? plantResponse.geneticCompany
                                    : ""
                            }}</span>
                        </div>
                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary"
                                >Genetic Stain</span
                            >
                            <span class="mx-2">:</span>
                            <span class="font-medium">{{
                                plantResponse && plantResponse.geneticStain
                                    ? plantResponse.geneticStain
                                    : ""
                            }}</span>
                        </div>
                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary"
                                >Nutrient Manufacture</span
                            >
                            <span class="mx-2">:</span>
                            <span class="font-medium">{{
                                plantResponse &&
                                plantResponse.nutrientManufacture
                                    ? plantResponse.nutrientManufacture
                                    : ""
                            }}</span>
                        </div>
                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary"
                                >Dry Weight</span
                            >
                            <span class="mx-2">:</span>

                            <span class="font-medium">{{
                                plantResponse && plantResponse.dryWeight
                                    ? plantResponse.dryWeight
                                    : ""
                            }}</span>
                        </div>
                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary"
                                >Discarded Weight</span
                            >
                            <span class="mx-2">:</span>

                            <span class="font-medium">{{
                                plantResponse && plantResponse.discardedWeight
                                    ? plantResponse.discardedWeight
                                    : ""
                            }}</span>
                        </div>
                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary"
                                >Wet Weight</span
                            >
                            <span class="mx-2">:</span>

                            <span class="font-medium">{{
                                plantResponse && plantResponse.wetWeight
                                    ? plantResponse.wetWeight
                                    : ""
                            }}</span>
                        </div>
                    </div>
                    <!-- <div class="flex flex-col border-t pt-4 mt-5">
                    <div class="text-xl mt-3 font-bold truncate mb-3">
                        Employee Details
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary"
                            >Id Number</span
                        >
                        <span class="mx-2">:</span>
                        <span class="font-medium">{{
                            plantResponse &&
                            plantResponse.employee &&
                            plantResponse.employee.idNumber
                                ? plantResponse.employee.idNumber
                                : ""
                        }}</span>
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary">Name</span>
                        <span class="mx-2">:</span>
                        <span class="font-medium">{{
                            plantResponse &&
                            plantResponse.employee &&
                            plantResponse.employee.name
                                ? plantResponse.employee.name
                                : ""
                        }}</span>
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary">Type</span>
                        <span class="mx-2">:</span>
                        <span class="font-medium">{{
                            plantResponse &&
                            plantResponse.employee &&
                            plantResponse.employee.type
                                ? plantResponse.employee.type
                                : ""
                        }}</span>
                    </div>
                </div> -->
                    <div class="flex flex-col border-t pt-4 mt-5">
                        <div class="text-xl mt-3 font-bold truncate mb-3">
                            Grower Details
                        </div>
                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary">Name</span>
                            <span class="mx-2">:</span>
                            <span class="font-medium">{{
                                plantResponse &&
                                plantResponse.employee &&
                                plantResponse.grower.businessName
                                    ? plantResponse.grower.businessName
                                    : ""
                            }}</span>
                        </div>
                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary"
                                >ID Number</span
                            >
                            <span class="mx-2">:</span>
                            <span class="font-medium">{{
                                plantResponse &&
                                plantResponse.grower.businessIDNumber
                                    ? plantResponse.grower.businessIDNumber
                                    : ""
                            }}</span>
                        </div>
                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary">Type</span>
                            <span class="mx-2">:</span>
                            <span class="font-medium">{{
                                plantResponse &&
                                plantResponse.grower.businessType
                                    ? plantResponse.grower.businessType
                                    : ""
                            }}</span>
                        </div>
                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary"
                                >Phone</span
                            >
                            <span class="mx-2">:</span>
                            <span class="font-medium">{{
                                plantResponse &&
                                plantResponse.grower.businessPhone
                                    ? plantResponse.grower.businessPhone
                                    : ""
                            }}</span>
                        </div>

                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary"
                                >Address</span
                            >
                            <span class="mx-2">:</span>
                            <span class="font-medium">{{
                                plantResponse &&
                                plantResponse.grower.businessAddress
                                    ? plantResponse.grower.businessAddress
                                    : ""
                            }}</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col border-t pt-4 mt-5">
                    <div class="text-xl mt-3 font-bold truncate mb-3">
                        Testing Status
                    </div>

                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary">Approved</span>
                        <span class="mx-2">:</span>
                        <span
                            class="font-medium"
                            [ngClass]="
                                plantResponse && !plantResponse.plantTest
                                    ? 'text-red-600'
                                    : ' text-green-600'
                            "
                        >
                            {{
                                plantResponse && !plantResponse.plantTest
                                    ? "Pending"
                                    : "Done"
                            }}</span
                        >
                    </div>
                    <ng-container
                        *ngIf="plantResponse && plantResponse.plantTest"
                    >
                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary">Coa</span>
                            <span class="mx-2">:</span>
                            <span class="font-medium">
                                <a
                                    class="bg-primary-50 text-primary-700 dark:bg-primary dark:text-on-primary rounded-full"
                                    href="{{
                                        plantResponse &&
                                        plantResponse.plantTest &&
                                        plantResponse.plantTest.coa
                                            ? plantResponse.plantTest.coa
                                            : ''
                                    }}"
                                    target="_blank"
                                >
                                    Download
                                </a>
                            </span>
                        </div>
                        <div class="leading-6 mb-3">
                            <span class="font-medium text-secondary"
                                >Discarded Weight</span
                            >
                            <span class="mx-2">:</span>
                            <span class="font-medium">
                                {{
                                    plantResponse &&
                                    plantResponse.plantTest &&
                                    plantResponse.plantTest.discardedWeight
                                        ? plantResponse.plantTest
                                              .discardedWeight
                                        : ""
                                }}</span
                            >
                        </div>
                        <div class="leading-6 mb-3">
                            <span class="font-medium text-secondary"
                                >Test Date</span
                            >
                            <span class="mx-2">:</span>
                            <span class="font-medium">
                                {{
                                    plantResponse &&
                                    plantResponse.plantTest &&
                                    plantResponse.plantTest.createdAt
                                        ? (plantResponse.plantTest.createdAt
                                          | date: "mediumDate")
                                        : ""
                                }}</span
                            >
                        </div>

                        <div class="leading-6 mb-3">
                            <span class="font-medium text-secondary"
                                >Notes</span
                            >
                            <span class="mx-2">:</span>
                            <span class="font-medium">
                                {{
                                    plantResponse &&
                                    plantResponse.plantTest &&
                                    plantResponse.plantTest.notes
                                        ? plantResponse.plantTest.notes
                                        : ""
                                }}</span
                            >
                        </div>

                        <!-- <div class="leading-6 mb-2">
                            <div class="text-xg mt-2 font-bold truncate mb-1">
                                Employee
                            </div>
                            <span class="font-medium text-secondary">Name</span>
                            <span class="mx-2">:</span>

                            <span class="font-medium">{{
                                plantResponse &&
                                plantResponse.plantTest &&
                                plantResponse.plantTest.employee.name
                                    ? plantResponse.plantTest.employee.name
                                    : ""
                            }}</span>
                        </div>
                        <div class="leading-6 mb-3">
                            <span class="font-medium text-secondary">Type</span>
                            <span class="mx-2">:</span>

                            <span class="font-medium">{{
                                plantResponse &&
                                plantResponse.plantTest &&
                                plantResponse.plantTest.employee.type
                                    ? plantResponse.plantTest.employee.type
                                    : ""
                            }}</span>
                        </div> -->
                        <!-- <div class="leading-6 mb-2">
                            <div class="text-xg mt-2 font-bold truncate mb-1">
                                Tester
                            </div>
                            <span class="font-medium text-secondary"
                                >ID Number</span
                            >
                            <span class="mx-2">:</span>

                            <span class="font-medium">{{
                                plantResponse &&
                                plantResponse.plantTest &&
                                plantResponse.plantTest.tester.businessIDNumber
                                    ? plantResponse.plantTest.tester
                                          .businessIDNumber
                                    : ""
                            }}</span>
                        </div>
                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary">Name</span>
                            <span class="mx-2">:</span>

                            <span class="font-medium">{{
                                plantResponse &&
                                plantResponse.plantTest &&
                                plantResponse.plantTest.tester.businessName
                                    ? plantResponse.plantTest.tester
                                          .businessName
                                    : ""
                            }}</span>
                        </div>
                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary"
                                >Phone</span
                            >
                            <span class="mx-2">:</span>

                            <span class="font-medium">{{
                                plantResponse &&
                                plantResponse.plantTest &&
                                plantResponse.plantTest.tester.businessPhone
                                    ? plantResponse.plantTest.tester
                                          .businessPhone
                                    : ""
                            }}</span>
                        </div>
                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary"
                                >Addres</span
                            >
                            <span class="mx-2">:</span>

                            <span class="font-medium">{{
                                plantResponse &&
                                plantResponse.plantTest &&
                                plantResponse.plantTest.tester.businessAddress
                                    ? plantResponse.plantTest.tester
                                          .businessAddress
                                    : ""
                            }}</span>
                        </div> -->
                    </ng-container>
                </div>
                <div class="flex flex-col border-t pt-4 mt-5">
                    <div class="text-xl mt-3 font-bold truncate mb-3">
                        Processing Status
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary">Approved</span>
                        <span class="mx-2">:</span>
                        <span
                            class="font-medium"
                            [ngClass]="
                                plantResponse && !plantResponse.plantProcess
                                    ? 'text-red-600'
                                    : ' text-green-600'
                            "
                        >
                            {{
                                plantResponse && !plantResponse.plantProcess
                                    ? "Pending"
                                    : "Done"
                            }}</span
                        >
                    </div>
                    <ng-container
                        *ngIf="plantResponse && plantResponse.plantProcess"
                    >
                        <div class="leading-6 mb-3">
                            <span class="font-medium text-secondary"
                                >Discarded Weight</span
                            >
                            <span class="mx-2">:</span>
                            <span class="font-medium">
                                {{
                                    plantResponse &&
                                    plantResponse.plantProcess &&
                                    plantResponse.plantProcess.discardedWeight
                                        ? plantResponse.plantProcess
                                              .discardedWeight
                                        : ""
                                }}</span
                            >
                        </div>
                        <div class="leading-6 mb-2">
                            <div class="text-xg mt-2 font-bold truncate mb-1">
                                Employee
                            </div>
                            <span class="font-medium text-secondary">Name</span>
                            <span class="mx-2">:</span>

                            <span class="font-medium">{{
                                plantResponse &&
                                plantResponse.plantProcess &&
                                plantResponse.plantProcess.employee.name
                                    ? plantResponse.plantProcess.employee.name
                                    : ""
                            }}</span>
                        </div>
                        <div class="leading-6 mb-3">
                            <span class="font-medium text-secondary">Type</span>
                            <span class="mx-2">:</span>

                            <span class="font-medium">{{
                                plantResponse &&
                                plantResponse.plantProcess &&
                                plantResponse.plantProcess.employee.type
                                    ? plantResponse.plantProcess.employee.type
                                    : ""
                            }}</span>
                        </div>
                        <div class="leading-6 mb-2">
                            <div class="text-xg mt-2 font-bold truncate mb-1">
                                Processor
                            </div>
                            <span class="font-medium text-secondary"
                                >ID Number</span
                            >
                            <span class="mx-2">:</span>

                            <span class="font-medium">{{
                                plantResponse &&
                                plantResponse.plantProcess &&
                                plantResponse.plantProcess.processor
                                    .businessIDNumber
                                    ? plantResponse.plantProcess.processor
                                          .businessIDNumber
                                    : ""
                            }}</span>
                        </div>
                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary">Name</span>
                            <span class="mx-2">:</span>

                            <span class="font-medium">{{
                                plantResponse &&
                                plantResponse.plantProcess &&
                                plantResponse.plantProcess.processor
                                    .businessName
                                    ? plantResponse.plantProcess.processor
                                          .businessName
                                    : ""
                            }}</span>
                        </div>
                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary"
                                >Phone</span
                            >
                            <span class="mx-2">:</span>

                            <span class="font-medium">{{
                                plantResponse &&
                                plantResponse.plantProcess &&
                                plantResponse.plantProcess.processor
                                    .businessPhone
                                    ? plantResponse.plantProcess.processor
                                          .businessPhone
                                    : ""
                            }}</span>
                        </div>
                        <div class="leading-6 mb-2">
                            <span class="font-medium text-secondary"
                                >Addres</span
                            >
                            <span class="mx-2">:</span>

                            <span class="font-medium">{{
                                plantResponse &&
                                plantResponse.plantProcess &&
                                plantResponse.plantProcess.processor
                                    .businessAddress
                                    ? plantResponse.plantProcess.processor
                                          .businessAddress
                                    : ""
                            }}</span>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div
            *ngIf="productDetails"
            class="flex flex-col sm:flex-col w-full max-w-xs sm:max-w-none bg-card mb-5 shadow"
        >
            <div class="p-8">
                <div class="flex flex-col">
                    <div class="text-xl mt-3 font-bold truncate mb-3">
                        Product Details
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary">Name</span>
                        <span class="mx-2">:</span>
                        <span class="font-medium">{{
                            productResponse && productResponse.name
                                ? productResponse.name
                                : ""
                        }}</span>
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary"
                            >Description</span
                        >
                        <span class="mx-2">:</span>
                        <span class="font-medium">{{
                            productResponse && productResponse.description
                                ? productResponse.description
                                : ""
                        }}</span>
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary">Dosage</span>
                        <span class="mx-2">:</span>
                        <span class="font-medium">{{
                            productResponse && productResponse.dosage
                                ? productResponse.dosage
                                : ""
                        }}</span>
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary">Sku</span>
                        <span class="mx-2">:</span>
                        <span class="font-medium">{{
                            productResponse && productResponse.sku
                                ? productResponse.sku
                                : ""
                        }}</span>
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary"
                            >Ingredients</span
                        >
                        <span class="mx-2">:</span>
                        <span class="font-medium capitalize">{{
                            productResponse && productResponse.ingredients
                                ? productResponse.ingredients
                                : ""
                        }}</span>
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary"
                            >Allergies</span
                        >
                        <span class="mx-2">:</span>
                        <span class="font-medium capitalize">{{
                            productResponse && productResponse.allergies
                                ? productResponse.allergies
                                : ""
                        }}</span>
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary"
                            >Created At</span
                        >
                        <span class="mx-2">:</span>
                        <span class="font-medium">{{
                            productResponse && productResponse.createdAt
                                ? (productResponse.createdAt | date: "medium")
                                : ""
                        }}</span>
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary">Plants</span>
                        <span class="mx-2">:</span>
                        <span class="font-medium"
                            ><button
                                (click)="
                                    sidenav2.toggle(); getPlantsDetails(plants)
                                "
                                *ngFor="
                                    let plants of productResponse &&
                                        productResponse.plants
                                "
                                class="bg-primary-50 w-auto mb-2 text-primary-700 dark:bg-primary dark:text-on-primary rounded-full"
                            >
                                {{ plants }}
                            </button></span
                        >
                    </div>
                </div>
                <div class="flex flex-col border-t pt-4 mt-5">
                    <div class="text-xl mt-3 font-bold truncate mb-3">
                        Employee Details
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary"
                            >Id Number</span
                        >
                        <span class="mx-2">:</span>
                        <span class="font-medium">{{
                            productResponse && productResponse.employee.idNumber
                                ? productResponse.employee.idNumber
                                : ""
                        }}</span>
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary">Name</span>
                        <span class="mx-2">:</span>
                        <span class="font-medium">{{
                            productResponse && productResponse.employee.name
                                ? productResponse.employee.name
                                : ""
                        }}</span>
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary">Type</span>
                        <span class="mx-2">:</span>
                        <span class="font-medium">{{
                            productResponse && productResponse.employee.type
                                ? productResponse.employee.type
                                : ""
                        }}</span>
                    </div>
                </div>
                <div class="flex flex-col border-t pt-4 mt-5">
                    <div class="text-xl mt-3 font-bold truncate mb-3">
                        Manufacturer Details
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary"
                            >Id Number</span
                        >
                        <span class="mx-2">:</span>
                        <span class="font-medium">{{
                            productResponse &&
                            productResponse.manufacturer.businessIDNumber
                                ? productResponse.manufacturer.businessIDNumber
                                : ""
                        }}</span>
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary">Name</span>
                        <span class="mx-2">:</span>
                        <span class="font-medium">{{
                            productResponse &&
                            productResponse.manufacturer.businessName
                                ? productResponse.manufacturer.businessName
                                : ""
                        }}</span>
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary">Type</span>
                        <span class="mx-2">:</span>
                        <span class="font-medium">{{
                            productResponse &&
                            productResponse.manufacturer.businessType
                                ? productResponse.manufacturer.businessType
                                : ""
                        }}</span>
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary">Phone</span>
                        <span class="mx-2">:</span>
                        <span class="font-medium">{{
                            productResponse &&
                            productResponse.manufacturer.businessPhone
                                ? productResponse.manufacturer.businessPhone
                                : ""
                        }}</span>
                    </div>
                    <div class="leading-6 mb-2">
                        <span class="font-medium text-secondary"> Address</span>
                        <span class="mx-2">:</span>
                        <span class="font-medium">{{
                            productResponse &&
                            productResponse.manufacturer.businessAddress
                                ? productResponse.manufacturer.businessAddress
                                : ""
                        }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
