<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 max-h-160 -m-6 overflow-y-auto modal_out">
        <div
            class="flex flex-col sm:flex-row items-center justify-between mb-4 p-8"
        >
            <div class="text-xl font-medium tracking-tight leading-6 truncate">
                Choose Location On Map
            </div>

            <button mat-icon-button matDialogClose>
                <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>

        <div style="min-height: 200px" id="map" class="full-width full-height">
            map
        </div>

        <div class="flex flex-col gt-md:flex-row mt-2 p-8">
            <button class="max-w-50" mat-raised-button color="primary">
                Select Location
            </button>
        </div>
    </div>
</div>

<!-- <div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 max-h-160 -m-6 overflow-y-auto modify">
        <div class="max-w-3xl">
            <form
                class="flex flex-col py-8 px-10 bg-card rounded-xl shadow overflow-hidden"
            >
                <div
                    class="flex flex-col sm:flex-row items-center justify-between mb-4"
                >
                    <div
                        class="text-xl font-medium tracking-tight leading-6 truncate"
                    >
                        Add Prescription
                    </div>

                    <button mat-icon-button matDialogClose></button>
                </div>

                <div
                    class="text-xl font-medium tracking-tight leading-6 truncate mb-2"
                >
                    Add Prescription Details
                </div>
                <div class="flex flex-col gt-xs:flex-col">
                    <mat-form-field class="flex-auto gt-xs:pr-3 fuse-mat-dense">
                        <mat-label>Dosage</mat-label>
                        <input matInput [formControlName]="'dosage'" />
                        <mat-hint class="mt-2">*Allow numbers only</mat-hint>
                    </mat-form-field>
                </div>
                <div class="flex flex-col">
                    <mat-form-field class="flex-auto gt-xs:pl-3 fuse-mat-dense">
                        <mat-label> Description</mat-label>
                        <textarea
                            matInput
                            [formControlName]="'description'"
                        ></textarea>
                    </mat-form-field>
                </div>

                <div class="flex flex-col gt-md:flex-row mt-2">
                    <button class="max-w-50" mat-raised-button color="primary">
                        Sign Prescription
                    </button>
                </div>
            </form>
        </div>
    </div>
</div> -->
