.mat-tabs ::ng-deep .mat-chip {
    cursor: pointer !important;
    font-size: 13px;
    min-height: 28px !important;
    line-height: 29px !important;
    &.active {
        background: var(--fuse-primary) !important;
        color: #fff !important;
    }
}
.badge {
    width: 25px;
    height: 25px;
    margin: 0px auto;
    line-height: 24px;
    color: #fff;
    text-align: center;
}
.bg-primary-50 {
    width: 115px;
    padding: 5px 14px 4px;
    font-size: 14px;
    font-weight: 600;
    height: 32px;
    line-height: 20px;
}
// .time-slot-holder:nth-child(7n + 7) {
//     border-right: 0px !important;
// }
// .time-slot-holder:last-child {
//     border-bottom: 0px !important;
// }
