.bg-primary-50 {
    width: 110px;
    padding: 5px 14px 4px;
    font-size: 12px;
    font-weight: 600;
}
.sm\:w-36 {
    width: 11rem !important;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding: 5px 14px;
}
