.bg-primary-50 {
    width: 110px;
    padding: 5px 14px 4px;
    font-size: 12px;
    font-weight: 600;
}
::ng-deep body.light .mat-drawer-container {
    background: #fff;
}
::ng-deep .plants_drawer {
    margin-right: -17px;
}
