<div class="flex flex-col flex-auto min-w-0">
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div
                class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-10"
            >
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container>
                            <div
                                class="text-2xl md:text-3xl font-semibold tracking-tight leading-7 md:leading-snug truncate"
                            >
                                Welcome back,
                                <span class="text-blue-500"
                                    >{{
                                        userDetails.email.split("@")[0]
                                            | titlecase
                                    }}..!</span
                                >
                            </div>
                        </ng-container>
                    </div>
                </div>
                <mat-form-field
                    class="mat-form-field fuse-mat-no-subscript w-full sm:w-60 fuse-mat-dense"
                >
                    <mat-date-range-input [rangePicker]="picker">
                        <input
                            matStartDate
                            placeholder="Start date"
                            [(ngModel)]="startDate"
                            (dateChange)="filterByStartDate($event)"
                        />
                        <input
                            matEndDate
                            placeholder="End date"
                            [(ngModel)]="endDate"
                            (dateChange)="filterByEndDate($event)"
                        />
                    </mat-date-range-input>

                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="flex-auto border-t p-8">
        <div class="w-full max-w-screen-xl mx-auto">
            <div
                *ngIf="
                    this.userInfo.modelId.employer.businessType === 'Cultivator'
                "
                class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 w-full min-w-0 mb-8"
            >
                <div
                    class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                >
                    <div class="flex flex-col items-center mt-2">
                        <div
                            class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500 mb-2"
                        >
                            {{ analyticsData && analyticsData.plantCount }}
                        </div>
                        <div class="text-3xl font-bold text-blue-500">
                            {{ materialType }}
                        </div>
                        <div
                            class="flex items-baseline justify-center w-full mt-1 text-secondary"
                        >
                            <div class="ml-1.5 text-lg font-medium">Grown</div>
                        </div>
                    </div>
                </div>
                <div
                    class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                >
                    <div class="flex flex-col items-center mt-2">
                        <div
                            class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500 mb-2"
                        >
                            {{
                                analyticsData && analyticsData.plantTestedCount
                            }}
                        </div>
                        <div class="text-3xl font-bold text-blue-500">
                            {{ materialType }}
                        </div>
                        <div
                            class="flex items-baseline justify-center w-full mt-1 text-secondary"
                        >
                            <div class="ml-1.5 text-lg font-medium">Tested</div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                *ngIf="this.userInfo.modelId.employer.businessType === 'Tester'"
                class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 gap-6 w-full min-w-0 mb-8"
            >
                <div
                    class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                >
                    <div class="flex flex-col items-center mt-2">
                        <div
                            class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500 mb-2"
                        >
                            {{
                                analyticsData && analyticsData.plantTestedCount
                            }}
                        </div>
                        <div class="text-3xl font-bold text-blue-500">
                            {{ materialType }}
                        </div>
                        <div
                            class="flex items-baseline justify-center w-full mt-1 text-secondary"
                        >
                            <div class="ml-1.5 text-lg font-medium">Tested</div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                *ngIf="
                    this.userInfo.modelId.employer.businessType === 'Processor'
                "
                class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 gap-6 w-full min-w-0 mb-8"
            >
                <div
                    class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                >
                    <div class="flex flex-col items-center mt-2">
                        <div
                            class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500 mb-2"
                        >
                            {{
                                analyticsData &&
                                    analyticsData.plantProcessedCount
                            }}
                        </div>
                        <div class="text-3xl font-bold text-blue-500">
                            {{ materialType }}
                        </div>
                        <div
                            class="flex items-baseline justify-center w-full mt-1 text-secondary"
                        >
                            <div class="ml-1.5 text-lg font-medium">
                                Processor
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                *ngIf="
                    this.userInfo.modelId.employer.businessType ===
                    'Manufacturer'
                "
                class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 gap-6 w-full min-w-0 mb-8"
            >
                <div
                    class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                >
                    <div class="flex flex-col items-center mt-2">
                        <div
                            class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500 mb-2"
                        >
                            {{ analyticsData && analyticsData.productCount }}
                        </div>
                        <div class="text-3xl font-bold text-blue-500">
                            {{ materialType }}
                        </div>
                        <div
                            class="flex items-baseline justify-center w-full mt-1 text-secondary"
                        >
                            <div class="ml-1.5 text-lg font-medium">
                                Manufactured
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                >
                    <div class="flex flex-col items-center mt-2">
                        <div
                            class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500 mb-2"
                        >
                            {{
                                analyticsData &&
                                    analyticsData.deliveriesDoneCount
                            }}
                        </div>
                        <div class="text-3xl font-bold text-blue-500">
                            {{ materialType }}
                        </div>
                        <div
                            class="flex items-baseline justify-center w-full mt-1 text-secondary"
                        >
                            <div class="ml-1.5 text-lg font-medium">Sent</div>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 gap-6 w-full min-w-0 mb-8"
            >
                <div
                    class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                >
                    <div
                        class="flex flex-col sm:flex-row items-start justify-between"
                    >
                        <div
                            class="text-lg font-medium tracking-tight leading-6 truncate"
                        >
                            Analytics
                        </div>
                    </div>

                    <div class="flex flex-col flex-auto mt-6">
                        <app-widget-large-chart
                            [seriesRaw]="userSessionsSeries"
                            [startDate]="dateFrom"
                            [endDate]="dateTo"
                        ></app-widget-large-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
