::ng-deep .mat-raised-button {
    max-height: auto !important;
    height: auto !important;
    min-height: auto !important;
    font-size: 12px;
    padding: 8px 14px !important;
    border-radius: 5px !important;
}
.bg-primary-50 {
    width: 110px;
    padding: 5px 14px 4px;
    font-size: 12px;
    font-weight: 600;
}
.sm\:w-36 {
    width: 11rem !important;
}
