ng-deep .mat-raised-button {
    max-height: auto !important;
    height: auto !important;
    min-height: auto !important;
    font-size: 12px;
    padding: 8px 14px !important;
    border-radius: 5px !important;
}
.bg-primary-50 {
    width: 110px;
    padding: 5px 14px 4px;
    font-size: 12px;
    font-weight: 600;
}
.sm\:w-36 {
    width: 13rem !important;
}
::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 40px !important;
    border-color: rgb(203 213 225 / 1) !important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
}
::ng-deep
    .ng-select.ng-select-single
    .ng-select-container
    .ng-value-container
    .ng-input {
    top: 10px !important;
}
::ng-deep {
    // .mat-select-panel {
    //     min-width: 100% !important;
    // }
    .mat-filter {
        padding: 12px 16px !important;
        border-color: #e2e8f0 !important;
    }
    .noResultsMessage {
        font-size: 14px !important;
    }
}
