<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto max-h-160 -m-6 overflow-y-auto">
        <div class="md:min-w-160">
            <form
                [formGroup]="createForm"
                class="flex flex-col p-10 bg-card rounded-xl shadow overflow-hidden"
            >
                <div
                    class="flex flex-col sm:flex-row items-center justify-between mb-8"
                >
                    <div
                        class="text-xl font-medium tracking-tight leading-6 truncate"
                    >
                        Modify Employee
                    </div>

                    <button mat-icon-button matDialogClose>
                        <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    </button>
                </div>

                <div class="flex flex-row gt-md:flex-row">
                    <mat-form-field
                        class="fuse-mat-textarea flex-auto fuse-mat-dense"
                    >
                        <mat-label> Name</mat-label>
                        <input matInput [formControlName]="'name'" />
                    </mat-form-field>
                </div>
                <div class="flex flex-row gt-md:flex-row mb-4">
                    <mat-form-field class="flex-auto gt-xs:pr-3 fuse-mat-dense">
                        <mat-label>#ID Number</mat-label>
                        <input matInput [formControlName]="'idNumber'" />
                        <mat-hint class="mt-2">*Allow numbers only</mat-hint>
                    </mat-form-field>
                    <mat-form-field
                        class="flex-auto gt-xs:pl-3 fuse-mat-dense ml-5"
                    >
                        <mat-label> Type</mat-label>
                        <mat-select
                            placeholder="Select Stain"
                            [formControlName]="'type'"
                        >
                            <mat-option [value]="'Admin'">Admin</mat-option>
                            <mat-option [value]="'Employee'"
                                >Employee</mat-option
                            >
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="flex flex-col gt-md:flex-row mt-3">
                    <button
                        class="max-w-50"
                        mat-raised-button
                        color="primary"
                        (click)="saveEmployee()"
                    >
                        Save Employee
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
