::ng-deep .mat-raised-button {
    max-height: auto !important;
    height: auto !important;
    min-height: auto !important;
    font-size: 12px;
    padding: 8px 14px !important;
    border-radius: 5px !important;
}
