<div class="flex flex-col flex-auto w-full">
    <div class="w-full max-w-screen-xl mx-auto p-8">
        <div class="bg-card mb-5 shadow rounded p-10 max-w-3xl">
            <div class="text-xl font-medium tracking-tight truncate mb-5">
                Update Center Profile
            </div>
            <div class="">
                <form
                    [formGroup]="profileUpdateForm"
                    class="flex flex-col bg-card rounded-xl overflow-hidden"
                >
                    <div class="flex grid grid-cols gap-5">
                        <div>
                            <mat-form-field
                                class="flex-auto gt-xs:pr-3 fuse-mat-dense d-block"
                            >
                                <mat-label>Name</mat-label>
                                <input matInput [formControlName]="'name'" />
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-col mb-5">
                            <label>City *</label>
                            <ng-select
                                class="fuse-mat-no-subscript w-full sm:w-36 fuse-mat-dense"
                                placeholder="Select City"
                                [formControlName]="'city'"
                            >
                                <ng-option
                                    *ngFor="let city of cities"
                                    [value]="city"
                                    >{{ city }}</ng-option
                                >
                            </ng-select>
                        </div>
                        <div>
                            <mat-form-field
                                class="flex-auto gt-xs:pr-3 fuse-mat-dense"
                            >
                                <mat-label>Zip Code</mat-label>
                                <input matInput [formControlName]="'zipCode'" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <mat-form-field
                            class="flex-auto gt-xs:pl-3 fuse-mat-dense"
                        >
                            <mat-label> Address</mat-label>
                            <textarea
                                matInput
                                [formControlName]="'addressLine1'"
                            ></textarea>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col text-center justify-center mb-3">
                        <button
                            (click)="openLocationDialog()"
                            mat-raised-button
                            color="primary"
                            class="btn_location"
                        >
                            Choose Location On Map
                        </button>

                        - OR -
                    </div>
                    <div class="flex flex-row gt-md:flex-row">
                        <mat-form-field
                            class="fuse-mat-textarea flex-auto fuse-mat-dense"
                        >
                            <mat-label>Latitude</mat-label>
                            <input matInput [formControlName]="'latitude'" />
                        </mat-form-field>

                        <mat-form-field
                            class="fuse-mat-textarea flex-auto fuse-mat-dense ml-5"
                        >
                            <mat-label>Longitude</mat-label>
                            <input matInput [formControlName]="'longitude'" />
                        </mat-form-field>
                    </div>

                    <div class="flex flex-row gt-md:flex-row">
                        <mat-form-field
                            class="fuse-mat-textarea flex-auto fuse-mat-dense"
                        >
                            <mat-label>Opening Time</mat-label>
                            <input
                                matInput
                                [formControlName]="'openTime'"
                                [ngxTimepicker]="openTime"
                                readonly
                            />
                            <ngx-material-timepicker
                                #openTime
                            ></ngx-material-timepicker>
                        </mat-form-field>
                        <mat-form-field
                            class="fuse-mat-textarea flex-auto fuse-mat-dense ml-5"
                        >
                            <mat-label>Closing Time</mat-label>
                            <input
                                matInput
                                [formControlName]="'closeTime'"
                                [ngxTimepicker]="closeTime"
                                readonly
                            />
                            <ngx-material-timepicker
                                #closeTime
                            ></ngx-material-timepicker>
                        </mat-form-field>

                        <!-- <mat-form-field
                            class="fuse-mat-textarea flex-auto fuse-mat-dense"
                        >
                            <mat-label>Opening Time</mat-label>
                            <input
                                matTimepicker
                                [formControlName]="'openTime'"
                            />
                        </mat-form-field>

                        <mat-form-field
                            class="fuse-mat-textarea flex-auto fuse-mat-dense ml-5"
                        >
                            <mat-label>Closing Time</mat-label>
                            <input
                                [formControlName]="'closeTime'"
                                matTimepicker
                            />
                        </mat-form-field> -->
                    </div>
                    <div class="flex flex-row gt-md:flex-row">
                        <mat-form-field
                            class="flex-auto gt-md:pl-3 fuse-mat-dense"
                        >
                            <mat-label>Appointment Duration (mins)</mat-label>
                            <input
                                type="number"
                                matInput
                                [formControlName]="'timeSlotLength'"
                            />
                        </mat-form-field>
                        <mat-form-field class="flex-auto fuse-mat-dense ml-5">
                            <mat-label
                                >Patients Per Appointment Duration</mat-label
                            >
                            <input
                                type="number"
                                matInput
                                [formControlName]="'patientsPerSlot'"
                            />
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col gt-xs:flex-col mb-5 days">
                        <label>Working Days</label>
                        <div class="flex flex-row">
                            <div
                                class="day mr-2 mt-2"
                                [class.active]="selectedDays.includes(day)"
                                *ngFor="let day of days"
                                (click)="toggleDay(day)"
                            >
                                {{ day.slice(0, 3) }}
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col">
                        <mat-form-field
                            class="flex-auto gt-xs:pl-3 fuse-mat-dense"
                        >
                            <mat-label> About</mat-label>
                            <textarea
                                matInput
                                [formControlName]="'about'"
                            ></textarea>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-col gt-md:flex-row mt-3">
                        <button
                            (click)="saveProfile()"
                            class="max-w-50"
                            mat-raised-button
                            color="primary"
                        >
                            Save Profile
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
