<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-3xl p-10 bg-card rounded-xl shadow overflow-hidden">
            <div
                class="flex flex-col sm:flex-row items-center justify-between mb-8"
            >
                <div
                    class="text-xl font-medium tracking-tight leading-6 truncate"
                >
                    Add Delivery
                </div>
            </div>
            <div class="flex flex-row gt-md:flex-col mb-5">
                <mat-chip *ngFor="let material of materials; let i = index">
                    ({{ materials[i].quantity }})
                    {{ materials[i].productDetail.name }}
                    <button matChipRemove (click)="this.materials.splice(i, 1)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>

                <button
                    (click)="showScanMenu()"
                    class="scan_btn bg-primary-500 text-white rounded-full w-auto"
                >
                    Scan More Products
                </button>
            </div>
            <form [formGroup]="dileveryForm" class="flex flex-col">
                <div class="flex flex-col gt-xs:flex-col mb-5">
                    <label>Dispensary Name *</label>
                    <ng-select
                        class="fuse-mat-no-subscript w-full sm:w-36 fuse-mat-dense"
                        placeholder="Select Dispensary"
                        [formControlName]="'dispensaryCtrl'"
                        (change)="openDispensarySearch($event)"
                    >
                        <ng-option
                            *ngFor="let dispensary of dispensaries"
                            [value]="dispensary"
                            >{{ dispensary.name }}</ng-option
                        >
                    </ng-select>
                </div>

                <div class="flex flex-col gt-xs:flex-col mb-5">
                    <label>Delivery Vehicle *</label>
                    <ng-select
                        class="fuse-mat-no-subscript w-full sm:w-36 fuse-mat-dense"
                        placeholder="Select Vehicle"
                        [formControlName]="'vehicle'"
                    >
                        <ng-option
                            *ngFor="let vehicle of vehicles"
                            [value]="vehicle._id"
                            >#{{ vehicle.vehicleNumber }}</ng-option
                        >
                    </ng-select>
                </div>
                <div class="flex flex-row gt-md:flex-row">
                    <mat-form-field class="flex-auto fuse-mat-dense">
                        <mat-label> PickUp Location</mat-label>
                        <input matInput [formControlName]="'pickUpLocation'" />
                    </mat-form-field>
                    <mat-form-field class="flex-auto fuse-mat-dense ml-5">
                        <mat-label> Pickup Time</mat-label>
                        <input
                            matInput
                            [matDatepicker]="picker1"
                            [formControlName]="'pickUpDateTime'"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker1"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="flex flex-row gt-md:flex-row">
                    <mat-form-field class="flex-auto fuse-mat-dense">
                        <mat-label> Drop Off Location</mat-label>
                        <input matInput [formControlName]="'dropLocation'" />
                    </mat-form-field>
                    <mat-form-field class="flex-auto fuse-mat-dense ml-5">
                        <mat-label> Drop-off Time</mat-label>
                        <input
                            matInput
                            [matDatepicker]="picker1"
                            [formControlName]="'dropDateTime'"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker1"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="flex flex-col gt-md:flex-row mt-3">
                    <button
                        (click)="addDelivery()"
                        class="max-w-50"
                        mat-raised-button
                        color="primary"
                    >
                        Add Delivery
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<ng-template #scanQRCodeDialog>
    <div class="p-3" style="width: 22rem !important" *ngIf="!quantityDialog">
        <h2 matDialogTitle>Scan QR Code</h2>
        <form class="mb-3">
            <div class="flex flex-col">
                <mat-form-field class="flex-auto fuse-mat-dense">
                    <input
                        matInput
                        name="productID"
                        [(ngModel)]="productID"
                        [ngModelOptions]="{ standalone: true }"
                        placeholder="Enter Product ID"
                    />
                </mat-form-field>
            </div>

            <div class="flex flex-col">
                <button
                    class="flex items-center justify-center rounded"
                    style="border: 1px dashed rgb(203 213 225); padding: 10px"
                >
                    <mat-icon
                        svgIcon="qr_code_scanner"
                        class="mat-icon notranslate icon-size-5 mr-3 mat-icon-no-color"
                    ></mat-icon>
                    Scan QR Code
                </button>
            </div>
        </form>
        <mat-dialog-actions>
            <button
                (click)="productDetails()"
                mat-button
                mat-raised-button
                color="primary"
                class="px-8"
            >
                Done
            </button>
            <button mat-button (click)="matClose()">Cancel</button>
        </mat-dialog-actions>
    </div>
    <div class="p-3" style="width: 22rem !important" *ngIf="quantityDialog">
        <h2 matDialogTitle>Enter Quantity</h2>
        <form class="mb-3">
            <div class="flex flex-col">
                <mat-form-field
                    [ngClass]="formFieldHelpers"
                    class="flex-auto fuse-mat-dense"
                >
                    <input
                        [(ngModel)]="quantity"
                        name="quantity"
                        type="number"
                        matInput
                        placeholder="Quantity Received"
                    />
                </mat-form-field>
            </div>
        </form>
        <mat-dialog-actions>
            <button
                (click)="addMaterial()"
                mat-button
                mat-raised-button
                color="primary"
                class="px-8"
            >
                Done
            </button>
            <button mat-button (click)="matClose()">Cancel</button>
        </mat-dialog-actions>
    </div>
</ng-template>
