.bg-primary-50 {
    width: 110px;
    padding: 5px 14px 4px;
    font-size: 12px;
    font-weight: 600;
}
.scanner {
    width: 100%;
    padding: 7px 28px 7px;
    font-size: 15px;
    font-weight: 600;
}
