<div class="p-8">
    <div class="flex items-end justify-end absolute right-6">
        <button mat-icon-button (click)="closeNav($event)">
            <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div class="flex flex-col">
        <div class="text-xl mt-3 font-bold truncate mb-3">Plant Details</div>
        <div class="leading-6 mb-2">
            <span class="font-medium text-secondary">Batch Number</span>
            <span class="mx-2">:</span>
            <span class="font-medium">{{
                viewDetails && viewDetails.batchNumber
                    ? viewDetails.batchNumber
                    : ""
            }}</span>
        </div>
        <div class="leading-6 mb-2">
            <span class="font-medium text-secondary">Genetic Company</span>
            <span class="mx-2">:</span>
            <span class="font-medium">{{
                viewDetails && viewDetails.geneticCompany
                    ? viewDetails.geneticCompany
                    : ""
            }}</span>
        </div>
        <div class="leading-6 mb-2">
            <span class="font-medium text-secondary">Genetic Stain</span>
            <span class="mx-2">:</span>
            <span class="font-medium">{{
                viewDetails && viewDetails.geneticStain
                    ? viewDetails.geneticStain
                    : ""
            }}</span>
        </div>
        <div class="leading-6 mb-2">
            <span class="font-medium text-secondary">Nutrient Manufacture</span>
            <span class="mx-2">:</span>
            <span class="font-medium">{{
                viewDetails && viewDetails.nutrientManufacture
                    ? viewDetails.nutrientManufacture
                    : ""
            }}</span>
        </div>
        <div class="leading-6 mb-2">
            <span class="font-medium text-secondary">Dry Weight</span>
            <span class="mx-2">:</span>

            <span class="font-medium">{{
                viewDetails && viewDetails.dryWeight
                    ? viewDetails.dryWeight
                    : ""
            }}</span>
        </div>
        <div class="leading-6 mb-2">
            <span class="font-medium text-secondary">Discarded Weight</span>
            <span class="mx-2">:</span>

            <span class="font-medium">{{
                viewDetails && viewDetails.discardedWeight
                    ? viewDetails.discardedWeight
                    : ""
            }}</span>
        </div>
        <div class="leading-6 mb-2">
            <span class="font-medium text-secondary">Wet Weight</span>
            <span class="mx-2">:</span>

            <span class="font-medium">{{
                viewDetails && viewDetails.wetWeight
                    ? viewDetails.wetWeight
                    : ""
            }}</span>
        </div>
        <div class="leading-6 mb-2">
            <button
                (click)="downloadQrCode()"
                class="items-center bg-primary scanner text-white rounded-full"
            >
                Show QR Code
            </button>
        </div>
    </div>
    <div class="flex flex-col border-t pt-4 mt-5">
        <div class="text-xl mt-3 font-bold truncate mb-3">Employee Details</div>
        <div class="leading-6 mb-2">
            <span class="font-medium text-secondary">Id Number</span>
            <span class="mx-2">:</span>
            <span class="font-medium">{{
                viewDetails &&
                viewDetails.employee &&
                viewDetails.employee.idNumber
                    ? viewDetails.employee.idNumber
                    : ""
            }}</span>
        </div>
        <div class="leading-6 mb-2">
            <span class="font-medium text-secondary">Name</span>
            <span class="mx-2">:</span>
            <span class="font-medium">{{
                viewDetails && viewDetails.employee && viewDetails.employee.name
                    ? viewDetails.employee.name
                    : ""
            }}</span>
        </div>
        <div class="leading-6 mb-2">
            <span class="font-medium text-secondary">Type</span>
            <span class="mx-2">:</span>
            <span class="font-medium">{{
                viewDetails && viewDetails.employee && viewDetails.employee.type
                    ? viewDetails.employee.type
                    : ""
            }}</span>
        </div>
    </div>
    <div class="flex flex-col border-t pt-4 mt-5">
        <div class="text-xl mt-3 font-bold truncate mb-3">Grower Details</div>
        <div class="leading-6 mb-2">
            <span class="font-medium text-secondary">Name</span>
            <span class="mx-2">:</span>
            <span class="font-medium">{{
                viewDetails &&
                viewDetails.grower &&
                viewDetails.grower.businessName
                    ? viewDetails.grower.businessName
                    : ""
            }}</span>
        </div>
        <div class="leading-6 mb-2">
            <span class="font-medium text-secondary">ID Number</span>
            <span class="mx-2">:</span>
            <span class="font-medium">{{
                viewDetails &&
                viewDetails.grower &&
                viewDetails.grower.businessIDNumber
                    ? viewDetails.grower.businessIDNumber
                    : ""
            }}</span>
        </div>
        <div class="leading-6 mb-2">
            <span class="font-medium text-secondary">Type</span>
            <span class="mx-2">:</span>
            <span class="font-medium">{{
                viewDetails &&
                viewDetails.grower &&
                viewDetails.grower.businessType
                    ? viewDetails.grower.businessType
                    : ""
            }}</span>
        </div>
        <div class="leading-6 mb-2">
            <span class="font-medium text-secondary">Phone</span>
            <span class="mx-2">:</span>
            <span class="font-medium">{{
                viewDetails &&
                viewDetails.grower &&
                viewDetails.grower.businessPhone
                    ? viewDetails.grower.businessPhone
                    : ""
            }}</span>
        </div>

        <div class="leading-6 mb-2">
            <span class="font-medium text-secondary">Address</span>
            <span class="mx-2">:</span>
            <span class="font-medium">{{
                viewDetails &&
                viewDetails.grower &&
                viewDetails.grower.businessAddress
                    ? viewDetails.grower.businessAddress
                    : ""
            }}</span>
        </div>
    </div>
    <div class="flex flex-col border-t pt-4 mt-5">
        <div class="text-xl mt-3 font-bold truncate mb-3">Test Details</div>

        <div class="leading-6 mb-2">
            <span class="font-medium text-secondary">Approved</span>
            <span class="mx-2">:</span>
            <span
                class="font-medium"
                [ngClass]="
                    viewDetails && !viewDetails.plantTest
                        ? 'text-red-600'
                        : ' text-green-600'
                "
            >
                {{
                    viewDetails && !viewDetails.plantTest ? "Pending" : "Done"
                }}</span
            >
        </div>
        <ng-container *ngIf="viewDetails && viewDetails.plantTest">
            <div class="leading-6 mb-2">
                <span class="font-medium text-secondary">Coa</span>
                <span class="mx-2">:</span>
                <span class="font-medium">
                    <a
                        class="bg-primary-50 text-primary-700 dark:bg-primary dark:text-on-primary rounded-full"
                        href="{{
                            viewDetails &&
                            viewDetails.plantTest &&
                            viewDetails.plantTest.coa
                                ? viewDetails.plantTest.coa
                                : ''
                        }}"
                        target="_blank"
                    >
                        Download
                    </a>
                </span>
            </div>
            <div class="leading-6 mb-3">
                <span class="font-medium text-secondary">Discarded Weight</span>
                <span class="mx-2">:</span>
                <span class="font-medium">
                    {{
                        viewDetails &&
                        viewDetails.plantTest &&
                        viewDetails.plantTest.discardedWeight
                            ? viewDetails.plantTest.discardedWeight
                            : ""
                    }}</span
                >
            </div>
            <div class="leading-6 mb-3">
                <span class="font-medium text-secondary">Notes</span>
                <span class="mx-2">:</span>
                <span class="font-medium">
                    {{
                        viewDetails &&
                        viewDetails.plantTest &&
                        viewDetails.plantTest.notes
                            ? viewDetails.plantTest.notes
                            : ""
                    }}</span
                >
            </div>
            <div class="leading-6 mb-2">
                <div class="text-xg mt-2 font-bold truncate mb-1">Employee</div>
                <span class="font-medium text-secondary">Name</span>
                <span class="mx-2">:</span>

                <span class="font-medium">{{
                    viewDetails &&
                    viewDetails.plantTest &&
                    viewDetails.plantTest.employee.name
                        ? viewDetails.plantTest.employee.name
                        : ""
                }}</span>
            </div>
            <div class="leading-6 mb-3">
                <span class="font-medium text-secondary">Type</span>
                <span class="mx-2">:</span>

                <span class="font-medium">{{
                    viewDetails &&
                    viewDetails.plantTest &&
                    viewDetails.plantTest.employee.type
                        ? viewDetails.plantTest.employee.type
                        : ""
                }}</span>
            </div>
            <div class="leading-6 mb-2">
                <div class="text-xg mt-2 font-bold truncate mb-1">Tester</div>
                <span class="font-medium text-secondary">ID Number</span>
                <span class="mx-2">:</span>

                <span class="font-medium">{{
                    viewDetails &&
                    viewDetails.plantTest &&
                    viewDetails.plantTest.tester.businessIDNumber
                        ? viewDetails.plantTest.tester.businessIDNumber
                        : ""
                }}</span>
            </div>
            <div class="leading-6 mb-2">
                <span class="font-medium text-secondary">Name</span>
                <span class="mx-2">:</span>

                <span class="font-medium">{{
                    viewDetails &&
                    viewDetails.plantTest &&
                    viewDetails.plantTest.tester.businessName
                        ? viewDetails.plantTest.tester.businessName
                        : ""
                }}</span>
            </div>
            <div class="leading-6 mb-2">
                <span class="font-medium text-secondary">Phone</span>
                <span class="mx-2">:</span>

                <span class="font-medium">{{
                    viewDetails &&
                    viewDetails.plantTest &&
                    viewDetails.plantTest.tester.businessPhone
                        ? viewDetails.plantTest.tester.businessPhone
                        : ""
                }}</span>
            </div>
            <div class="leading-6 mb-2">
                <span class="font-medium text-secondary">Addres</span>
                <span class="mx-2">:</span>

                <span class="font-medium">{{
                    viewDetails &&
                    viewDetails.plantTest &&
                    viewDetails.plantTest.tester.businessAddress
                        ? viewDetails.plantTest.tester.businessAddress
                        : ""
                }}</span>
            </div>
        </ng-container>
    </div>
    <div class="flex flex-col border-t pt-4 mt-5">
        <div class="text-xl mt-3 font-bold truncate mb-3">Process Details</div>
        <div class="leading-6 mb-2">
            <span class="font-medium text-secondary">Approved</span>
            <span class="mx-2">:</span>
            <span
                class="font-medium"
                [ngClass]="
                    viewDetails && !viewDetails.plantProcess
                        ? 'text-red-600'
                        : ' text-green-600'
                "
            >
                {{
                    viewDetails && !viewDetails.plantProcess
                        ? "Pending"
                        : "Done"
                }}</span
            >
        </div>
        <ng-container *ngIf="viewDetails && viewDetails.plantProcess">
            <div class="leading-6 mb-3">
                <span class="font-medium text-secondary">Discarded Weight</span>
                <span class="mx-2">:</span>
                <span class="font-medium">
                    {{
                        viewDetails &&
                        viewDetails.plantProcess &&
                        viewDetails.plantProcess.discardedWeight
                            ? viewDetails.plantProcess.discardedWeight
                            : ""
                    }}</span
                >
            </div>
            <div class="leading-6 mb-2">
                <div class="text-xg mt-2 font-bold truncate mb-1">Employee</div>
                <span class="font-medium text-secondary">Name</span>
                <span class="mx-2">:</span>

                <span class="font-medium">{{
                    viewDetails &&
                    viewDetails.plantProcess &&
                    viewDetails.plantProcess.employee.name
                        ? viewDetails.plantProcess.employee.name
                        : ""
                }}</span>
            </div>
            <div class="leading-6 mb-3">
                <span class="font-medium text-secondary">Type</span>
                <span class="mx-2">:</span>

                <span class="font-medium">{{
                    viewDetails &&
                    viewDetails.plantProcess &&
                    viewDetails.plantProcess.employee.type
                        ? viewDetails.plantProcess.employee.type
                        : ""
                }}</span>
            </div>
            <div class="leading-6 mb-2">
                <div class="text-xg mt-2 font-bold truncate mb-1">
                    Processor
                </div>
                <span class="font-medium text-secondary">ID Number</span>
                <span class="mx-2">:</span>

                <span class="font-medium">{{
                    viewDetails &&
                    viewDetails.plantProcess &&
                    viewDetails.plantProcess.processor.businessIDNumber
                        ? viewDetails.plantProcess.processor.businessIDNumber
                        : ""
                }}</span>
            </div>
            <div class="leading-6 mb-2">
                <span class="font-medium text-secondary">Name</span>
                <span class="mx-2">:</span>

                <span class="font-medium">{{
                    viewDetails &&
                    viewDetails.plantProcess &&
                    viewDetails.plantProcess.processor.businessName
                        ? viewDetails.plantProcess.processor.businessName
                        : ""
                }}</span>
            </div>
            <div class="leading-6 mb-2">
                <span class="font-medium text-secondary">Phone</span>
                <span class="mx-2">:</span>

                <span class="font-medium">{{
                    viewDetails &&
                    viewDetails.plantProcess &&
                    viewDetails.plantProcess.processor.businessPhone
                        ? viewDetails.plantProcess.processor.businessPhone
                        : ""
                }}</span>
            </div>
            <div class="leading-6 mb-2">
                <span class="font-medium text-secondary">Addres</span>
                <span class="mx-2">:</span>

                <span class="font-medium">{{
                    viewDetails &&
                    viewDetails.plantProcess &&
                    viewDetails.plantProcess.processor.businessAddress
                        ? viewDetails.plantProcess.processor.businessAddress
                        : ""
                }}</span>
            </div>
        </ng-container>
    </div>
</div>
